@charset "UTF-8";

.sticky-area {
  position: sticky;
  text-align: right;
  bottom: 40px;
  z-index: 100;
}

.sticky-area a {
  border-radius: 46px;
  padding: 5px 16px;
  display: inline-block;
  line-height: 36px;
  font-weight: 600;
  text-decoration: none !important;
}

.sticky-area .invite-code {
  display: inline-block;
  margin: 0;
  width: 182px;
  font-size: 14px;
  font-weight: 600;
  text-align: center;
  background: rgba(255, 255, 255, 0.7);
  cursor: pointer;
}

.sticky-area.sugardaddy a {
  background: #fff;
  color: #333 !important;
  border: 3px solid #d50038;
}

.sticky-area.sugardaddy a img {
  width: 100px;
  height: auto;
  margin-top: 7px;
}

.sticky-area img {
  float: left;
  height: 36px;
  margin-right: 8px;
}

.sticky-area.paddy67 a {
  background: #61bcd7;
  color: #fff !important;
  border: 3px solid #299ace;
}

.sticky-area.paddy67 a img {
  width: 32px;
  height: auto;
  margin-top: -1px;
}
